<div class="col-6">

    <p-toolbar>
        <div class="p-toolbar-group-left">
            <p-button type="text" (click)="display = true" icon="pi pi-bars"></p-button>
        </div>

        <h1>Escola</h1>

        <div class="p-toolbar-group-right">
            <p-button icon="pi pi-plus" (click)="showModalDialog()"></p-button>
        </div>
    </p-toolbar>

    <p-dialog header="Adicionar Escola" [(visible)]="displayModal" [modal]="true" [style]="{width: '30vw'}">
        <form [formGroup]="escolaForm">
            <div class="sizes">
                <div style="padding:10px;">
                    <p-dropdown [options]="turma" formControlName="turma" optionLabel="nome"></p-dropdown>
                </div>
                <div style="padding:10px;">
                    <input style="width: 100%;" formControlName="nome" type="text" placeholder="Nome" pInputText />
                </div>
                <div style="padding:10px;">
                    <input style="width: 100%;" type="text" formControlName="endereco" placeholder="Endereço"
                        pInputText />
                </div>
                <div style="padding:10px;">
                    <input style="width: 100%;" type="text" formControlName="cnpj" placeholder="CNPJ" pInputText />
                </div>
            </div>
        </form>
        <ng-template pTemplate="footer">

            <p-button icon="pi pi-check" *ngIf="!isEdit && !isView" [disabled]="escolaForm.invalid" (click)="postEscola()" label="Criar">
            </p-button>

            <p-button icon="pi pi-check" *ngIf="isEdit && !isView" [disabled]="escolaForm.invalid" (click)="putEscola()" label="Editar">
            </p-button>

        </ng-template>
        <p>Form Status: {{ escolaForm.status }}</p>
        <p>Form value: {{ escolaForm.value | json }}</p>
    </p-dialog>

    <p-table [value]="escola">
        <ng-template pTemplate="header">
            <tr>
                <th>{{'main-table.name' | transloco}}</th>
                <th>{{'main-table.adress' | transloco}}</th>
                <th>{{'main-table.cnpj' | transloco}}</th>
                <th>{{'main-table.turma' | transloco}}</th>
                <th>Watch</th>
                <th>Edit</th>
                <th>Delete</th>
                <!-- <th>{{'main-table.name' | transloco}}</th> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-escolas>
            <tr>
                <td>{{escolas.nome}}</td>
                <td>{{escolas.endereco}}</td>
                <td>{{escolas.cnpj}}</td>
                <td>{{escolas.turma.nome}}</td>
                <td>
                    <p-button icon="pi pi-eye" (click)="watchSchool(escolas)" styleClass="p-button-primary"></p-button>
                </td>
                <td>
                    <p-button icon="pi pi-pencil" (click)="editForm(escolas)" styleClass="p-button-success"></p-button>
                </td>
                <td>
                    <p-button icon="pi pi-times" (click)="deleteEscola(escolas)" styleClass="p-button-danger"></p-button>
                </td>
                <!-- <td>{{escolas.turma.nome}}</td> -->
            </tr>
        </ng-template>
    </p-table>

    <p-sidebar [(visible)]="display" class="grid" [style]="{width:'30em'}">
        <div class="grid">
            <h1 class="justify-content: center">Menu</h1>
            <div style="padding: 10px;">
                <button style="width: 50%;" class="button" pButton type="button" icon="pi pi-user" routerLink="/turmas"
                    label="Turmas" class="p-button-primary"></button>
            </div>
            <hr>
            <div style="padding:10px;">
                <button style="width: 50%;" pButton type="button" icon="pi pi-home" routerLink="/escola" label="Escolas"
                    class="p-button-primary"></button>
            </div>
            <hr>
            <div style="padding:10px;">
                <button style="width: 50%;" pButton type="button" icon="pi pi-caret-left" routerLink="/login"
                    label="Sair" class="p-button-danger"></button>
            </div>
        </div>
    </p-sidebar>

</div>